<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-actions">
    <div>
        <h3>Khóa học của tôi</h3>
        <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
        <i class="fa-solid fa-arrow-right" style="color: #e67519;"></i>

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>

            <select class="form-select form-select-sm select checkbox-select-all-options" name="action" required>
                <option value="">-- Hành động --</option>
                <option value="delete">Xóa</option>
            </select>

            <button type="submit" class="btn btn-primary btn-sm disabled" id="submit-btn">Thực hiện</button>
        </div>


    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>{{this.updatedAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-modal"
                        data-bs-id="{{this._id}}">Chuyển vào thùng rác</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td class="text-center border-0" colspan="5">Bạn chưa đăng ký khóa học nào nào.
                    <a href="/courses/create">Đăng khóa học ở đây</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Delete confirm --}}
<div id="delete-course-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đưa khóa học vào thùng rác ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn đưa khóa học này vào thùng rác ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Đưa vào thùng rác</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete hidden form --}}
<form method="POST" name="delete-course-form"></form>

<script>
    $(document).ready(function () {
        const $containerForm = $('form[name="container-form"]');
        const $deleteForm = $('form[name="delete-course-form"]');
        const $deleteModal = $('#delete-course-modal');
        const $btnDeleteCourse = $('#btn-delete-course');
        const $checkboxAll = $('#checkbox-all');
        const $coursesCheckbox = $('input[name="courseIds[]"]');
        const $checkedSubmitBtn = $('#submit-btn');
        let courseId;

        // When delete button was clicked
        $deleteModal.on('show.bs.modal', event => {
            // Button that triggered the modal
            const button = $(event.relatedTarget);
            // Extract info from data-bs-* attributes
            courseId = button.attr('data-bs-id');
        });

        // When confirmed the delete
        $btnDeleteCourse.on('click', function () {
            $deleteForm.attr('action', '/courses/' + courseId + '?_method=DELETE');
            $deleteForm.submit();
        });

        // When checkbox all checked
        $checkboxAll.change(function () {
            let isCheckAll = $(this).prop('checked')
            $coursesCheckbox.prop('checked', isCheckAll)
            enableCheckAllSubmitBtn();
        });

        // When course item changes
        $coursesCheckbox.change(function () {
            let isCheckAll = $coursesCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            $checkboxAll.prop('checked', isCheckAll);
            enableCheckAllSubmitBtn();
        });

        // Checked submit button clicked
        $checkedSubmitBtn.click(function (e) {
            let isSubmittable = !$(this).hasClass('disabled');
            if (!isSubmittable) {
                e.preventDefault();
            }
        })



        // Enable the submit button when an item is checked
        function enableCheckAllSubmitBtn() {
            const checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0) {
                $checkedSubmitBtn.removeClass('disabled');
            } else {
                $checkedSubmitBtn.addClass('disabled');
            }
        }

    });
</script>